* {
    box-sizing: border-box;
    font-family: Arial
}

body {
    margin: 0;
    background: #fff;
    color: #222;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #2e9b36;
    color: white;
    padding: 14px 24px;
}

.busqueda {
    display: flex;
    align-items: center;
    gap: 16px;
}

#input-filtro {
    padding: 8px 10px;
    border-radius: 4px;
    border: none;
    min-width: 260px;
}

.nav-alumno {
    color: white;
}

.boton-carrito {
    background: transparent;
    border: 1px solid;
    color: white;
    padding: 8px 12px;
    border-radius: 6px;
}

main {
    padding: 24px;
    max-width: 1200px;
    margin: 0 auto;
}

.productos-section h2 {
    text-align: center;
}

.orden-botones {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 8px 0 20px;
}

.boton {
    background: #2e9b36;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.boton.vaciar {
    background: #e53935;
}

.grid-productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    gap: 18px;
}

.card-producto {
    border: 1px solid #dbd8d8;
    border-radius: 6px;
    padding: 12px;
    text-align: center;
}

.card-producto img {
    width: 110px;
    height: 110px;
    object-fit: contain;
}

.card-producto h3 {
    margin: 6px 0;
    font-size: 16px;
}

.controles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.control-boton {
    width: 28px;
    height: 28px;
    border: none;
    background: #2e9b36;
    color: white;
    cursor: pointer;
}

.carrito-section {
    background: #f8f9fa;
    padding: 26px;
    margin-top: 10px;
}

.carrito-contenido {
    display: flex;
}

.lista-carrito {
    flex: 1;
    padding: 0;
}

.lista-carrito li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 8px;
    border-bottom: 1px dashed #ddd;
}

.nombre-item {
    margin: 0;
    flex: 1;
}

.boton-eliminar {
    background: #e53935;
    color: white;
    border: none;
    padding: 6px 8px;
    border-radius: 6px;
    cursor: pointer;
}

.carrito-resumen {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.carrito-vacio {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    color: #777;
}

.carrito-vacio img {
    width: 60px;
}

.vacio {
    display: none;
}